---
import TabSwitcher from "./TabSwitcher";

import back from "../assets/back.png"
---
<div class="   
    p-2 
    m-4

    rounded-md 
    outline-4

    bg-sky-950 
    text-gray-800 
    outline-sky-800

    dark:bg-sky-950 
    dark:text-gray-300
    dark:outline-sky-800

    flex
    flex-col

    sm:fixed
    sm:w-1/4

    sm:max-w-80
">
    <div class="flex items-center">
        <div class="
            p-1
            m-1

            rounded-md
            outline-2

            text-gray-800 
            outline-sky-800

            dark:text-gray-300
            dark:outline-sky-800

            grow
        ">
            sophie kostovski
        </div>
        <a href="/">
            <img src=`${back.src}` alt="return to home button" class="p-0.5 m-0.5 rounded-md outline-2 outline-sky-800 dark:outline-sky-800 h-8">
        </a>
    </div>
    <div class="
        p-1
        m-1

        rounded-md
        outline-2

        text-gray-800 
        outline-sky-800

        dark:text-gray-300
        dark:outline-sky-800
    ">
        <i>software developer</i>
    </div>
        <div class="
        p-1
        m-1

        rounded-md
        outline-2

        text-gray-800 
        outline-sky-800

        dark:text-gray-300
        dark:outline-sky-800
    ">
        chicago, il
    </div>
    <!-- <div class="
        p-1
        m-1

        rounded-md
        outline-2

        text-gray-800 
        outline-sky-800

        dark:text-gray-300
        dark:outline-sky-800
    ">
        recent computer science graduate with experience in full-stack. 
        interested in pursuing further education while exploring 
        opportunities and positions in software development.
    </div> -->
    <div class="
        p-1
        m-1

        rounded-md
        outline-2

        text-gray-800 
        outline-sky-800

        dark:text-gray-300
        dark:outline-sky-800
    ">
        <TabSwitcher client:load />
    </div>
</div>

