<div class="                        
    p-2 
    m-4
    mt-0
    bg-sky-900 
    text-gray-800 
    outline-sky-700

    dark:bg-sky-900 
    dark:text-gray-300
    dark:outline-sky-700

    rounded-md
    outline-2

    h-fit
">
    <slot/>
</div>