<div class="
    flex
    m-1
    sm:m-4
    p-2
    h-screen

    rounded-md 
    outline-4

    bg-sky-950 
    text-gray-800 
    outline-sky-800

    dark:bg-sky-950 
    dark:text-gray-300
    dark:outline-sky-800
">
    <object
    data="sophie-kostovski-resume.pdf"
    type="application/pdf"
    width="100%"
    height="100%"
    >
    <iframe
        src="sophie-kostovski-resume.pdf"
        width="100%"
        height="100%"
        style="border: none;"
    >
        your browser does not support pdf viewing.
    </iframe>
    </object>
</div>